{% extends 'base.html' %}
{% load static %}
{%block titulo%}
 Inicio
{% endblock %}
{%block contenido%}
<br>
<br>
<main role="main">

    <div class="container">
      <!--comienza-->  
      <div class="row">
        <div class="col-md-4">
          <div id="contenedor_oferta" class="card mb-4 shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{%static 'img/pared_rota.jpg'%}" alt="imagen de oferta">
            <div class="card-body">
              <p class="card-text text-white">variable de django con descripcion</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="#" class="btn btn-sm btn-outline-secondary text-white text-white">Perfil</a>
                    <a href="#" class="btn btn-sm btn-outline-secondary text-white">Oferta Completa</a>
                </div>
                <small class="text-white">duracion de la oferta</small>
              </div>
            </div>
          </div>
        </div>
        <!--Termina-->
        <!--comienza-->
        <div class="col-md-4">
          <div id="contenedor_oferta" class="card mb-4 shadow-sm">
             <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{%static 'img/pared_rota.jpg'%}" alt="imagen de oferta">
            <div class="card-body">
              <p class="card-text text-white">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="#" class="btn btn-sm btn-outline-secondary text-white">Perfil</a>
                    <a href="#" class="btn btn-sm btn-outline-secondary text-white">Oferta Completa</a>
                </div>
                <small class="text-white">30 dias</small>
              </div>
            </div>
          </div>
        </div>
        <!--Termina-->

         <!--comienza-->
        <div class="col-md-4">
          <div id="contenedor_oferta" class="card mb-4 shadow-sm">
             <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{%static 'img/pared_rota.jpg'%}" alt="imagen de oferta">
            <div class="card-body">
              <p class="card-text text-white">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="#" class="btn btn-sm btn-outline-secondary text-white">Perfil</a>
                    <a href="#" class="btn btn-sm btn-outline-secondary text-white">Oferta Completa</a>
                </div>
                <small class="text-white">30 dias</small>
              </div>
            </div>
          </div>
        </div>
        <!--Termina-->

         <!--comienza-->
        <div class="col-md-4">
          <div id="contenedor_oferta" class="card mb-4 shadow-sm">
             <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{%static 'img/pared_rota.jpg'%}" alt="imagen de oferta">
            <div class="card-body">
              <p class="card-text text-white">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="#" class="btn btn-sm btn-outline-secondary text-white">Perfil</a>
                    <a href="#" class="btn btn-sm btn-outline-secondary text-white">Oferta Completa</a>
                </div>
                <small class="text-white">30 dias</small>
              </div>
            </div>
          </div>
        </div>
        <!--Termina-->

        <!--comienza-->
        <div class="col-md-4">
          <div id="contenedor_oferta" class="card mb-4 shadow-sm">
             <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{%static 'img/pared_rota.jpg'%}" alt="imagen de oferta">
            <div class="card-body">
              <p class="card-text text-white">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="#" class="btn btn-sm btn-outline-secondary text-white">Perfil</a>
                    <a href="#" class="btn btn-sm btn-outline-secondary text-white">Oferta Completa</a>
                </div>
                <small class="text-white">30 dias</small>
              </div>
            </div>
          </div>
        </div>
        <!--Termina-->

         <!--comienza-->
        <div class="col-md-4">
          <div id="contenedor_oferta" class="card mb-4 shadow-sm">
             <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{%static 'img/pared_rota.jpg'%}" alt="imagen de oferta">
            <div class="card-body">
              <p class="card-text text-white">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="#" class="btn btn-sm btn-outline-secondary text-white">Perfil</a>
                    <a href="#" class="btn btn-sm btn-outline-secondary text-white">Oferta Completa</a>
                </div>
                <small class="text-white">30 dias</small>
              </div>
            </div>
          </div>
        </div>
        <!--Termina-->

         <!--comienza-->
        <div class="col-md-4">
          <div id="contenedor_oferta" class="card mb-4 shadow-sm">
             <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{%static 'img/pared_rota.jpg'%}" alt="imagen de oferta">
            <div class="card-body">
              <p class="card-text text-white">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="#" class="btn btn-sm btn-outline-secondary text-white">Perfil</a>
                    <a href="#" class="btn btn-sm btn-outline-secondary text-white">Oferta Completa</a>
                </div>
                <small class="text-white">30 dias</small>
              </div>
            </div>
          </div>
        </div>
        <!--Termina-->
         <!--comienza-->
        <div class="col-md-4">
          <div id="contenedor_oferta" class="card mb-4 shadow-sm">
             <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{%static 'img/pared_rota.jpg'%}" alt="imagen de oferta">
            <div class="card-body">
              <p class="card-text text-white">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="#" class="btn btn-sm btn-outline-secondary text-white">Perfil</a>
                    <a href="#" class="btn btn-sm btn-outline-secondary text-white">Oferta Completa</a>
                </div>
                <small class="text-white">30 dias</small>
              </div>
            </div>
          </div>
        </div>
        <!--Termina-->
        <!--comienza-->
        <div class="col-md-4">
          <div id="contenedor_oferta" class="card mb-4 shadow-sm">
             <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{%static 'img/pared_rota.jpg'%}" alt="imagen de oferta">
            <div class="card-body">
              <p class="card-text text-white">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="#" class="btn btn-sm btn-outline-secondary text-white">Perfil</a>
                    <a href="#" class="btn btn-sm btn-outline-secondary text-white">Oferta Completa</a>
                </div>
                <small class="text-white">30 dias</small>
              </div>
            </div>
          </div>
        </div>
        <!--Termina-->
      
      </div>
    </div>

</main>

{% endblock %}
