{% extends 'base.html' %}

{% block headtitle %}
    Oferta
{% endblock %}

{%block contenido%}
<div class="contenedor-form">
     <div class="formulario">
        <h1 class="text-center">Oferta</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <br>
          <label for="id_titulo">Titulo</label>
            {{ form.titulo }}
            <div>
          <p>
            {{ form.titulo.errors }}
          </p>
        </div>

          <label for="id_descripcion">Descripcion</label>
            {{ form.descripcion }}
              <div>
          <p>
            {{ form.decripcion.errors }}
          </p>
        </div>
          <label for="id_oferente">Imagen</label>
            {{ form.imagen }}
        <label>Fecha de Caducidad</label>
                {{form.fecha_caducacion}}
            <div>
          <p>
            {{ form.fecha_caducacion.errors }}
            {% if error_fecha %}
              {{error_fecha}}
            {% endif %}
          </p>
        </div>
        
      {% ifequal editar "editar" %}
      <input type="submit" value="Confirmar Cambios">
    {% else %}
      <input type="submit" value="Crear Oferta">
    {% endifequal %}
      

    </form>
</div>
</div>
 
{%endblock%}
