{% extends 'base.html' %}
{% load static %}
{%block titulo%}
Editar Perfil
{% endblock %}
{%block contenido%}
<div class="contenedor-form">
    <br>
    <div class="formulario">
            <h2>Editar Perfil</h2>
      <form method="POST" enctype="multipart/form-data">
                 {% csrf_token %}  
      <label for="id_username">Nombre de Usuario</label>
      {{ form.username }}
      <div>
        <p>
          {{ form.username.errors }}
        </p>
      </div>              
      <label for="id_email">Email</label>
      {{ form.email }}
      <div>
        <p>
          {{ form.email.errors }}
        </p>
      </div>                            
      <label for="id_foto">Foto</label>
      {{form.foto}}
      <div>
        <p>
          {{ form.foto.errors }}
        </p>
      </div>
      <label for="id_telefono">Telefono</label>
      {{form.telefono}}
      <div>
        <p>
          {{ form.telefono.errors }}
        </p>
      </div>
      <label for="id_facebook">Facebook(opcional)</label>
          {{form.facebook}}
          <div>
            <p>
              {{ form.facebook.errors }}
            </p>
          </div>
          <label for="id_instagram">Instagram(opcional)</label>
          {{form.instagram}}
          <div>
            <p>
              {{ form.instagram.errors }}
            </p>
          </div>
      <label for="id_localidad">Localidad</label>
      {{form.localidad}}
      <div>
        <p>
          {{ form.localidad.errors }}
        </p>
      </div>
      {% ifequal request.user.tipo_usuario "trabajador" %}

          <label id="label_titulo" for="id_titulo">Experiencia Laboral</label>
          {{ form.experiencia_laboral }}
         <div>
          <p>
            {{ form.experiencia_laboral.errors }}
          </p>
        </div>
        <label for="id_categoria">Categoria</label>
          {{ form.categoria }}
         <div>
          <p>
            {{ form.categoria.errors }}
          </p>
        </div>

      {% endifequal %}
                <input type="submit" value="Confirmar Cambios">
            </form>
    </div>
    <div class="reset-password">
        <a href="{% url 'cambiar_pass' request.user.id %}">Editar contraseña</a>
    </div>
</div>
</div>
{% endblock %}
 {%block scripts%}
  <script src="{% static 'js/crear_cuenta.js' %}"></script>
  {%endblock%}