{% extends 'base.html' %}
{% load static %}
{%block titulo%}
Iniciar Sesión
{% endblock %}
{%block contenido%}
<div class="container ">
    <div class="row justify-content-center">
    <div class="col-md-6">
<div class="contenedor-form">
    <br>
    <div class="formulario">
            <h2>Iniciar Sesión</h2>
            <form method="POST" action="#">
                 {% csrf_token %}
                <label class="active" for="id_lastname">Nombre de Usuario</label>
      {{ form.username }}
      <p>
        {{ form.username.errors }}
      </p>
       <label class="active" for="id_password">Contraseña</label>
      {{ form.password }}
      <div>
        <p>
          {{ form.password.errors }}
        </p>
      </div>                
                <input type="submit" value="Iniciar Sesión">
            </form>
    </div>
    </div>
    </div>
</div>
</div>
{% endblock %}