{% extends 'base.html' %}
{% load static %}
{%block titulo%}
Iniciar Sesión
{% endblock %}
{%block contenido%}
<div class="contenedor-form">
    <br>
    <div class="formulario">
            <h2>Iniciar Sesión</h2>
            <form action="#">
                <input type="text" placeholder="Usuario" required>
                <input type="password" placeholder="Contraseña" required>
                <input type="submit" value="Iniciar Sesión">
            </form>
    </div>
    <div class="reset-password">
        <a href="#">Olvide mi Contraseña?</a>
    </div>
</div>
{% endblock %}