{% extends 'base.html' %}
{% load static %}
{% block titulo %}
    Perfil de {{ perfil.username }}
{% endblock %}
{% block contenido%}
<br>
<br>
    <h1 class="text-white">Perfil</h1>
    <h2 class="text-white">Nombre: {{perfil.first_name}}</h2>
    <h2 class="text-white">Apellido: {{perfil.last_name}}</h2>
    <h2 class="text-white">Telefono: {{perfil.telefono}}</h2>
    <h2 class="text-white">Usuario: {{perfil.username}}</h2>
    <h2 class="text-white">Localidad : {{perfil.localidad}}</h2>
    <a href="{% url 'new_oferta' %}">Crear</a>
    <a href="{% url 'editar_perfil' perfil.id %}">Editar Perfil</a>
{% endblock %}