{% extends 'base.html' %}
{% load static %}
{% block titulo %}
    Perfil de {{ perfil.username }}
{% endblock %}
{% block contenido%}
<div class="row justify-content-center">
    <div id="contenedor_perfil" class="container m-2">
        <div class="container m-2">
            <div class="row m-2">
                <div class="col-md-8">
                    {% if request.user.foto %}
                        <img src=  
                    "{{perfil.foto.url}}" width="60" height="60" class="float-left rounded-circle mr-2" alt="foto de perfil">
                    {%else%}
                        <img src="{% static 'img/pordefecto.jpg' %}" width="60" height="60" class="float-left rounded-circle" alt="logo">
                    {% endif %}
                    <h2 class="title">{{perfil.tipo_usuario|capfirst}}: {{perfil.username}}</h2>
                </div>
                <div class="col-md-4 mt-4">
                    {% ifequal request.user perfil %}
                        {% ifequal request.user.tipo_usuario "trabajador" %}
                        <a href="{% url 'new_oferta' %}" class="btn btn-lg btn-outline-secondary text-white"><strong><i class="fa fa-address-card" aria-hidden="true"></i> Oferta tu trabajo</strong></a>
                        {% endifequal %}
                    {% endifequal %}
                </div>
                
            </div>

        
            <div class="row">
                <div class="">
                    <div class="card-body">
                        <h4 class="text-left">Datos Personales:</h4>
                        <h5 class="text-left">Nombre: {{perfil.first_name}}</h5>
                        <br>
                        <h5 class="text-left">Apellido: {{perfil.last_name}}</h5>
                        <br>
                        <h5 class="text-left">Telefono: {{perfil.telefono}}</h5>
                        <br>
                        <h5 class="text-left">Localidad : {{perfil.localidad}}</h5>      
                    </div>
                </div>
            {% if perfil.tipo_usuario == "trabajador" %}
                <div class="col-md-8 ml-auto">
                    <div class="card-body"> 
                        <h4 class="text-white">Profesión:</h4>
                        <div class="container">
                            <div class="row">
                                {% for matricula in matriculas %}
                                    <div class="col-md-4 m-2">
                                    <h5 class="text-white">{{matricula.titulo}}</h5>
                                    {% if matricula.matricula != "" %}
                                    <h5 class="text-white">Matricula:{{matricula}}</h5>
                                    {% endif %}
                                    {% ifequal request.user perfil %}    
                                        <a href="{% url 'borrar_titulo'  matricula.id %}" class="btn btn-sm btn-outline-secondary text-white"><i class="fa fa-trash-o" aria-hidden="true"><strong> Borrar</strong></i></a>
                                    {% endifequal %} 
                                    </div>
                                {%endfor%}
                            </div>
                        </div>
                    </div> 
                </div>  


                </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Experiencia Laboral:</h4>
                        </div>
                        <div class="col-md-12">
                            <p id="descripcion_oferta" class="card-text text-white text-align">{{perfil.experiencia_laboral}}</p>
                        </div>
                    </div>
                </div>
           {% endif %} 
        <div class="container m-2 mt-4">
            <div class="row">
                <div class="col-md-4">
                    <div class="card-body">
                        <!--recomendaciones-->
                        <h6 class="text-left">Recomendaciones : {{recomendaciones}}</h6>
                        <a class="mr-4 text-white" href="{% url 'si_recomiendo' perfil.id %}"><i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i></a>
                        <a class="text-white" href="{% url 'no_recomiendo' perfil.id %}"><i class="fa fa-thumbs-o-down fa-lg" aria-hidden="true"></i></a>
                    </div>
                </div>

                <div class="col-md-4">
                    {% if perfil.tipo_usuario == "trabajador" %}
                    <h6>Contacta a tu profesional: </h6>
                    {% else %}
                    <h6 class="text-center">Contacta:</h6>
                    {% endif %}
                    <div class="card-body">
                         <a href="http://www.facebook.com/{{perfil.facebook}}" target="blank"><img width="30" height="30" class="float-left rounded-circle mr-2" src="{% static 'img/facebook.png' %}"></a>
                        <a href="http://www.instagram.com/{{perfil.instagram}}" target="blank"><img width="30" height="30" class="float-left rounded-circle mr-2" src="{% static 'img/instagram.jpg' %}"></a>
                        <a href="https://wa.me/{{perfil.telefono}}" target="blank"><img width="30" height="30" class="float-left rounded-circle mr-2" src="{% static 'img/whatsapp.png' %}"></a>
                    </div>
                </div>
                <div class="col-md-4">
                <div class="card-body">
                    <div class="btn-group">
                        {% ifequal request.user perfil %}
                            <a href="{% url 'editar_perfil' perfil.id %}" class="btn btn-md btn-outline-secondary text-white">Editar</a>
                             <a href="{% url 'dar_baja' perfil.id %}" class="btn btn-md btn-outline-secondary text-white"><i class="fa fa-trash-o" aria-hidden="true">Borrar Perfil</i></a>
                            {% ifequal request.user.tipo_usuario "trabajador" %}
                                <a href="{% url 'cargar_titulo' perfil.id %}" class="btn btn-md btn-outline-secondary text-white">Profesión</a>
                            {% endifequal %}
                        {% endifequal %}
                    </div>
                </div>
                </div>
            </div>


        </div>
        <br>
    </div> 
     
    <!--Comentarios-->
        {% if request.user.is_authenticated %}
            <div class="contenedor-form m-2 container">
                <div class="formulario"> 
                    <form method="POST" action="{% url 'comentar' perfil.id %}">
                        {% csrf_token %}
                        <div class="container m-2">
                            <label for="id_text"><h6>Comentario:</h6></label>
                            {{ form_comentario.texto }}
                          <button class="" type="submit" name="action">
                              <i class="fa fa-plus-circle" aria-hidden="true"></i>Agregar
                          </button>
                        </div>
                    </form>
                </div>
            </div>
        {% endif %}
        <div id="contenedor_perfil" class="container">
            <div class="container m-2">
                <div class="row">
                    <ul class="collection">
                        {% for comentario in comentarios %} 
                            <li class="">
                                {% if comentario.usuario.id %}
                                <a href="{% url 'ver_perfil' comentario.usuario.id %}">  
                                    {% if comentario.usuario.foto %}
                                        <img src="{{ comentario.usuario.foto.url }}" alt="foto de perfil" width="30" height="30" class="float-left rounded-circle mr-2">
                                    {% else %}
                                        <img src="{% static 'img/pordefecto.jpg' %}"  width="30" height="30" class="float-left rounded-circle mr-2" alt="archivo por defecto">
                                    {% endif %}
                                 </a>   
                                <a href="{% url 'ver_perfil' comentario.usuario.id %}">
                                <span class="title">{{comentario.usuario.username}}:</span>
                                </a>
                                {% else %}
                                <img src="{% static 'img/pordefecto.jpg' %}" width="30" height="30" class="float-left rounded-circle mr-2" alt="logo">
                                <h6>Cuenta Borrada</h6>
                                {% endif %}
                                <p class="text-align text-white"> 
                                    {{comentario.texto}}
                                </p>
                                <p>
                                    {{comentario.fecha_creacion}}
                                </p>
                                
                            </li>
                        {% endfor%}
                    </ul>
                </div>
            </div>
        </div>

</div>
    <!--Oferta del perfil-->
    <div class="container">  
      <div class="row">
        {% include 'bolsa/lista_oferta.html' with ofertas=ofertas %}
    </div>


{% endblock %}