body{
    font-size: 1.125rem;
    font-weight: bold;
    background-image: url("../img/fondo.jpg");
            /* Full height */
            width: 95%;
            max-width: 150rem;
            margin: 0 auto 0 auto;
            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family:Arial;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.navbar{
    background-color: #69A3A5;   
}

.navbar-nav > li > .dropdown-menu { background-color: #69A3A5; }


#contenedor_oferta{
    outline: none;
    display: block;
    width: 100%;
    padding: 1rem 1.5rem;
    margin: 0 0 2rem 0;
    background: rgba(0,0,0,.5);
    color: #fff;
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight:normal;
    transition: all .5s ease;
}

#contenedor_perfil{
    outline: none;
    display: block;
    width: 100%;
    padding: 1px 1px;
    margin: 0 0 2rem 0;
    background: rgba(0,0,0,.5);
    color: #fff;
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight:normal;
    transition: all .5s ease;
}
