body{
    font-size: 1.125rem;
    font-weight: bold;
    background-image: url("../img/fondo.jpg");
            /* Full height */
            max-height: 100%;
            max-width: 100%;
            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family:Roboto;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.navbar{
    background-color: #69A3A5;   
}

.navbar-nav > li > .dropdown-menu { background-color: #69A3A5; }


#contenedor_oferta{
    outline: none;
    display: block;
    width: 100%;
    padding: 10px 15px;
    margin: 0 0 20px 0;
    background: rgba(0,0,0,.5);
    color: #fff;
    border: none;
    border-radius: 2px;
    box-sizing: border-box;
    font-family: Roboto;
    font-size: 14px;
    font-weight:normal;
    transition: all .5s ease;
}
