{% load static %}

<nav class="navbar navbar-expand-md navbar-light fixed-top navcolor" >
    <a class="navbar-brand text-white" href="{% url 'index' %}">
      <img src="{% static 'img/logo.jpg' %}" width="30" height="30" class="d-inline-block align-top" alt="logo">
      Buscando Ayuda
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa fa-bars fa-lg py-1 text-white"></i>
    </button>  
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link text-white" href="{% url 'search_perfil' %}">Buscar Perfil</a>
        </li>
        <li class="nav-item active">
          {% if request.user.is_authenticated %}
          <a class="nav-link text-white" href="{% url 'cerrar_sesion' %}">Cerrar Sesión</a>
          {% else %}
          <a class="nav-link text-white" href="{% url 'iniciar_sesion' %}">Iniciar Sesión</a>
          {% endif %}  
        </li>
        <li class="nav-item active">
          {% if user.is_anonymous %}
          <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle text-white" href="#" id="crear_cuenta" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Crear Cuenta
          </a>
          <div class="dropdown-menu" aria-labelledby="crear_cuenta">
            <a class="dropdown-item text-white" href="{% url 'nuevo_cliente' %}">Cliente</a>
            <a class="dropdown-item text-white" href="{% url 'nuevo_trabajador' %}">Trabajador</a>
          </div>
        </li>  
          {% endif %}
        </li>
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle text-white" href="#" id="categorias" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Categorias
          </a>
          <div class="dropdown-menu" aria-labelledby="categorias">
            <a class="dropdown-item text-white" href="{% url 'show_categoria' 1 %}">Reparar Hogar</a>
            <a class="dropdown-item text-white" href="{% url 'show_categoria' 2 %}">Arreglar Jardin</a>
            <a class="dropdown-item text-white" href="{% url 'show_categoria' 3 %}">Educación y Entrenamiento</a>
            <a class="dropdown-item text-white" href="{% url 'show_categoria' 4 %}">Profesional Medicos y Esteticos</a>
            <a class="dropdown-item text-white" href="{% url 'show_categoria' 5 %}">Otros </a>
          </div>
        </li>
        <li>
          <a class="nav-link text-white" href="{% url 'ayuda' %}">Ayuda <i class="fa fa-question"></i></a>

        </li>
      </ul>
      {% if request.user.is_authenticated %}
     <a class="navbar-brand text-white" href="{% url 'ver_perfil' request.user.id %}">
        {{request.user}}
        {% if request.user.foto %}
          <img src="{{ request.user.foto.url }}" width="30" height="30" class="d-inline-block align-top" alt="logo">
        {%else%}
        <img src="{% static 'img/pordefecto.jpg' %}" width="30" height="30" class="d-inline-block align-top" alt="logo">
        {% endif %}
    </a>
    {% else %}
    <img src="{% static 'img/pordefecto.jpg' %}" width="30" height="30" class="d-inline-block align-top" alt="logo">
    {% endif %}  
    </div>
  </nav>